
@font-face {
    font-family: "GothamRnd";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/GothamRounded/GothamRnd-Book.otf") format("opentype");
}

@font-face {
    font-family: "GothamRnd";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/GothamRounded/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "GothamRnd";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/GothamRounded/GothamRnd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "GothamRnd";
    font-style: normal;
    font-weight: light;
    src: url("/assets/fonts/GothamRounded/GothamRnd-Light.otf") format("opentype");
}


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --chakra-fonts-body: 'GothamRnd'
}

body {
    font-family: 'GothamRnd' !important;
    color: black;
}

button {
    font-family: 'GothamRnd' !important;
    font-size: 24px;
    font-weight: bold;
}


.chakra-modal__content-container {
    align-items: flex-end !important;
}

.chakra-modal__content {
    margin-bottom: 0 !important;
    border-radius: 16px 16px 0px 0px !important;
    background-color: #EDF8FF !important;
    color: black !important;
}